body {
    margin: 0;
}

.login-box {
    background-color: rgba(238, 234, 234, 0); /* Mayor transparencia */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra más visible */
}

